.card__container {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    margin: auto;
    background: black;
    transition: transform 0.3s ease;
    .card__title {
        color: white;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        bottom: 55px;
        padding: 0px 20px;
    }
    .card__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity: 0.7;
    }
}
.card__container:hover {
    transform: scale(1.02); 
}
@media (max-width: 600px) {
    .card__container {
        width: auto;
    }
}