.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    color: #fff;
    padding: 20px;
    .footer__logo {
        width: 120px;
        margin: auto;
    }
    .footer__copyright {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
    }
}
@media (max-width: 600px) {
    .footer .footer__logo {
        max-width: 100px;
        width: 35%;
    }
    .footer .footer__copyright {
        font-size: 17px;
        max-width: 50%;
        margin: auto;
    }
  }

  