.header {
    max-width: 90%;
    margin: auto;
    background-color: white;
    color: black;
    padding: 30px 50px; 
    .header__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__nav-list {
        display: flex;
        list-style: none;
      }
      .header__nav-item {
        margin-right: 20px;
        &.active {
          text-decoration: underline;
        }
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 24px;
      }
    }
}

@media (max-width: 600px) {
  .header {
    padding: 20px 25px;
  }
  .header .header__nav a {
    font-size: calc(17px + (5 * (100vw - 320px) / 280));
  }
  .header .header__nav img {
    width: 35%;
  }
  .header .header__nav .header__nav-list {
    padding: 0;
    gap: 20px;
  }
  .header .header__nav .header__nav-item {
    margin-right: 0px;
  }
}