.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background-color: whitesmoke;
    height: fit-content;
    width: 90%;
    margin: 40px auto;
    padding: 40px;
    border-radius: 25px;
    box-sizing: border-box;
    a {
        margin: auto;
        text-decoration: none;
    }
}
@media (max-width: 600px) {
    .gallery {
        background-color: white;
        padding: 0;
    }
}